* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: 0 auto;
}

#right {
    float: right;
    min-width: 250px;
    height: 809px;
    margin: 0 5px;
    border: 1px dotted black;
}

#gamemap {
    float: left;
    width: 1018px;
    height: 809px;
    position: relative;
}

.player_icon {
    width: 25px;
    height: 25px;
    position: absolute;
}
