* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: 0 auto;
}

#gamemap {
    float: left;
    width: 1018px;
    height: 809px;
    position: relative;
}

#gamemap .player_icon {
    width: 25px;
    height: 25px;
    position: absolute;
}

#right {
    float: right;
    min-width: 250px;
    height: 809px;
    margin: 0 5px;
    border: 1px dotted black;
}

#right #lobby {
    margin: 0;
    padding: 2px 5px;
}

#right #lobby .game {
    display: block;
    margin: 0x;
    pading: 2px 5px;
    width: 100%;
}
