/* ! GENERAL PURPOSE ! */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: 0 auto;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
    margin: -15px -15px;
}


/* ! GAME BOARD ! */

#gamemap {
    float: left;
    width: 1018px;
    height: 809px;
    position: relative;
}

#gamemap .player_icon {
    width: 25px;
    height: 25px;
    position: absolute;
}


/* ! GAME LOBBY ! */

#right {
    float: right;
    width: 250px;
    height: 809px;
    margin: 0 5px;
    border: 1px dotted black;
}

#right #login-buttons {
    display: block;
    margin: 15px auto;
    width: 168px;
}

#right #lobby {
    margin: 0;
    padding: 2px 5px;
}
#right #lobby .exit {
    cursor: pointer;
}
#right #lobby #game_create {
    margin: 15px 0;
}

#right #lobby .game_item {
    line-height: 14px;
}
#right #lobby .game_item span {
    cursor: pointer;
    font-weight: bold;
}
#right #lobby .game_item .button {
    cursor: pointer;
    height: 14px;
    margin-bottom: -2px;
}

#right #lobby #game_players {
    margin: 15px 0 0 0;
}

#right #lobby #game_log {
    margin: 15px 0 0 0;
}
#right #lobby #game_log .logItem {
    border: 1px dotted gray;
    margin: 2px 5px;
    padding: 2px 5px;
}
#right #lobby #game_log #new_message {
    margin: 5px 0 0 0;
    width: 90%;
}
